# SwiftFormat Configuration for EmbyVideoPlayer
# https://github.com/nicklockwood/SwiftFormat

# Indentation
--indent 4
--tabwidth 4
--usetabs false

# Line length
--maxwidth 120

# Newlines
--linebreak lf
--allman false

# Spacing
--spacearoundoperators
--spacearoundrangeoperators
--spacearoundbrackets false
--spacearoundgenerics false
--spaceinsideparens false
--spaceinsidebrackets false
--spaceinsidebraces
--spaceinsidecomment

# Braces
--bracestyle stroustrup
--voidtypeinparens false

# Semicolons
--semicolons never

# Commas
--commas always

# Colons
--colons true

# Operators
--operatorlinebreak before
--preferforloop

# Swift version
--swiftversion 6.0

# Rules to exclude
--exclude .build,DerivedData,.github,Pods,Carthage,.vscode

# File options
--swiftlint false
--fragment false

# Headers
--header ""
--headerignored ""

# Organize imports
--organizeimports
--importgrouping

# Wrap
--wrapmultilinestatementbraces
--wraparguments beforefirst
--wrapparameters beforefirst
--wrapcollections beforefirst
--wrapternary beforefirst
--wrapswitchcases
--wrapenumcases beforefirst
--wrapconditions beforefirst

# Self
--redundantself

# Redundant
--redundantreturn
--redundantlet
--redundanttype
--redundantnilinit
--redundantvoidreturn
--redundantmodifiers
--redundantpattern

# Sort
--sortimports
--sortswitchcases false
--sortprotocolmembers false

# Trailing
--trailingclosures always
--trailingcommas always
--trailingcommasinclosures always

# Else
--elseonsameline
--elseifonsameline

# Experimental
--experimentalfeatures