# SwiftFormat Configuration for EmbyVideoPlayer
# https://github.com/nicklockwood/SwiftFormat

# Indentation
--indent 4

# Line length
--maxwidth 120

# Exclude paths
--exclude .build,DerivedData,.github,Pods,Carthage,.vscode

# Swift version
--swiftversion 6.0

# Self
--redundantself

# Trailing commas
--trailingcommas always

# Else
--elseonsameline